.title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.title a {
    margin-top: 4px;
}

.map-container {
    height: 480px;
}

.table-scroll {
    overflow-x: auto;
    width: 100%;
}

.popup-container {
    max-height: 300px;
    overflow-y: auto;
}

.general-info th {
    width: 140px;
}

.general-info td {
    text-overflow: ellipsis;
    overflow: hidden;
}

.file-input {
    display: none;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.4em;
    height: 1.4em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: white;
}

.svg-icon circle {
    stroke: white;
    stroke-width: 1;
}