.title {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.map-container {
    height: 480px;
}

.table-scroll {
    overflow-x: auto;
    width: 100%;
}

.popup-container {
    max-height: 300px;
    overflow-y: auto;
}

.general-info th {
    width: 140px;
}

.general-info td {
    text-overflow: ellipsis;
    overflow: hidden;
}