<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ginkgoch - Shapefile</title>
</head>
<body>
    <script>
        let state = `<%- JSON.stringify(overview) %>`;
        state = JSON.parse(state);
    </script>
    <div class="container root">
        <h1 class="title">
            <span>Shapefile - {{ name }}</span>
        </h1>
        
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div id="mapContainer" class="map-container bg-light"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="map-info bg-light">
                    <table class="table table-striped" style="table-layout: fixed;">
                        <tbody>
                            <tr v-for="(value, key) in general" class="general-info">
                                <th scope="row">{{ key }}</td>
                                <td class="field-value" :title="value">{{ value }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="map-table table-scroll">
                <div>
                    Fetched the top <span class="text-primary">{{ properties.length - 1 }}</span> records of <span class="text-primary">{{ general.totalCount }}</span class="text-primary">
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th v-for="item in properties[0]" scope="col">{{ item }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in properties.slice(1)">
                            <td v-for="col in row">{{ col }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="./assets/bundle.js"></script>
</body>
</html>